h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}

h3 {
    font-family: Helvetica;
    font-weight: bold;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.springgreen {
    background-color: mediumspringgreen;
}

.lightcoral {
    background-color: lightcoral;
}

.skyblue {
    background-color: skyblue;
}

p {
    font-family: Helvetica;
}

p.bold-blue {
    font-weight: bold;
    color: blue;
}