body {
    font-family: Arial, sans-serif;
    background-color: gainsboro;
}

.code {
    font-family: monospace;
    background-color: beige;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: rgb(51, 138, 153);
}
thead {
    background-color: rgb(31, 94, 209);
}

td {
    border-top: 2px solid rgb(0, 0, 0);
}

table {
    border: 2px solid rgb(112, 99, 119);
    width: 650px;
    margin: 0 auto;
}
