/*Global styles*/
*{
    margin: 0;
    padding: 0;
}
          
body {
    background: black;
    color: rgb(68, 230, 76);
    text-align: center;
}
.blackBackground {
    background-color:rgba(0, 0, 0, 0.65);
    font-family: Helvetica;
}

h1 {
    border-top: 1px solid rgb(68,230,76);
    margin-top: 50px;
}
h2 {
    border-bottom: 1px solid rgb(68,230,76);
}
canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display:block;
}
table {
    background-color: rgba(0, 0, 0, 0.65);
    border: 3px solid rgb(0, 88, 27);
    width: 650px;
    margin: 0 auto;
    padding-top: 1px;
    
}
thead {
    background-color: rgba(184, 255, 200,0.65);
}
a {
    color: greenyellow;
}
td {
    color: greenyellow;
    border-top: 2px solid rgb(0, 88, 27);
}

th {
    color: black;
}
